{
	"extends": ["oclif", "oclif-typescript", "eslint:recommended", "prettier"],
	"rules": {
		"radix": ["error", "as-needed"],
		"no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": [
			"error", // or "error"
			{
				"argsIgnorePattern": "^_",
				"varsIgnorePattern": "^_",
				"caughtErrorsIgnorePattern": "^_"
			}
		]
	}
}
